{% extends 'base-front.html.twig' %}

{% block title %}{{ myPokemon.Name }}{% endblock %}

{% block body %}
<div class="container text-center">
<h1>{{ myPokemon.Name }} #{{ myPokemon.numeroNationnal }}</h1>
<img src="{{ myPokemon.picture }}" alt="" style="height:200px;">


    <div class="col-12">
        <table class="table table-striped">
            <tr class="row">
                <td class="col-2"><b>Name</b></td>
                <td class="col-2"><b>Type</b></td>
                <td class="col-2"><b>Category</b></td>
                <td class="col-1"><b>Power</b></td>
                <td class="col-2"><b>Accuracy</b></td>
                <td class="col-1"><b>PP</b></td>
                <td class="col-2"><b>Makes contact?</b></td>
            </tr>

            {% for attack in myPokemon.attacks %}
            <tr class="row">
                <td class="col-2">
                    <p>{{ attack.label }}</p>
                </td>
                <td class="col-2">
                    <p class="{{ attack.type.label }} type">{{ attack.type.label }}</p>
                </td>
                <td class="col-2">
                    <p>{{ attack.category }}</p>
                </td>
                <td class="col-1">
                    <p>{{ attack.power }}</p>
                </td>
                <td class="col-2">
                    <p>{{ attack.accuracy }}</p>
                </td>
                <td class="col-1">
                    <p>{{ attack.PP }}</p>
                </td>
                <td class="col-2">
                    <p>{{ attack.MakesContact }}</p>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>



</div>
{% endblock %}

{% block footer %}

{% endblock %}