{% extends 'base-front.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="container">
    <h1>Inscription</h1>
    {{ form_start(registrationForm) }}
        <div class="row">
            <div class="col-6">
                {{ form_row(registrationForm.email) }}
            </div>
            <div class="col-6">
                {{ form_row(registrationForm.pseudo) }}
            </div>
            <div class="col-6">
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
            </div>
            <div class="col-6">
                {{ form_row(registrationForm.agreeTerms) }}
            </div>
        </div>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
{% block footer %}
           
{% endblock %}